  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
    }
    body {
        background: url('../assets/background-image.svg');
        color: var(--black-title);
        -webkit-font-smoothing: antialiased;
    }

    body, input, button {
        font-family: Roboto, serif;
        font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6, strong{
        font-weight: 600;
    }

    button {
        border: 0;
        cursor: pointer;
    }

    :root {
        font-size: 60%;
        
        --orange: #FC941E;
        --black-title: #231F20;
        --white: #FFFFFF;
        --black: #000000;
        --Gray: #777777;
        --Black-Medium: #121212;
        
    }
